.form-group{ class: "btn-#{provider_class(account.provider)}", data: { :account_id => account.id } }
  %label.control-label.col-sm-3
    = account.account_icon
    = account.provider_name
    account
  .col-sm-7
    .input-group
      = account.summary_image
      = account.summary_field
      = account.summary_delete_button
