= cache_if account.persisted?, [:v1, account], default_cache_params do # cache saved accounts only
  - account_provider_class = provider_class(account.provider)
  - account_type = account.persisted? ? 'linked' : 'pending'
  - account_class = "btn-#{account_provider_class} #{account_type}-account #{account_type}-#{account_provider_class}"
  .form-group{ class: account_class, data: { account_id: account.id } }
    %label.control-label.col-sm-3
      = account.account_icon
      = account.provider_name
      account
    .col-sm-9.col-md-7
      .input-group
        = account.summary_image
        = account.summary_field
        = account.summary_delete_button
