- account_provider_class = provider_class(pending_account.provider)
- account_class = "pending-account pending-#{account_provider_class}"
- account_provider_title = "#{pending_account.provider_name} account"
.form-group{ class: account_class, data: { account_id: pending_account.id } }
  .col-sm-offset-2.col-sm-8
    .input-group
      %span.input-group-addon{ class: "btn-#{account_provider_class}", title: account_provider_title }
        = pending_account.account_icon
      = pending_account.summary_image
      = pending_account.summary_field
      = pending_account.summary_delete_button
