- content_for(:page_title) { t('.page_title') }
- content_for(:sidenav) { render 'users/sidenav', user: resource }

- if display_profile?
  %section
    %header.page-header
      %h3
        = t('.headers.profile')

    = simple_form_for(resource,
                      as: resource_name,
                      url: registration_path(resource_name),
                      html: { method: :put, role: 'form', class: 'form-horizontal' },
                      wrapper: :horizontal_bootstrap,
                      defaults: horizontal_bootstrap_defaults) do |f|
      = f.error_notification
      = f.input :name
      - email_hint = resource.confirmed_at? ? t('.labels.email_hint', date: local_time(resource.confirmed_at)).html_safe : nil
      = f.input :email,
                disabled: resource.confirmed_at?,
                hint: email_hint
      = avatar_image_input_tag resource.gravatar_image(32)

      .form-group
        .col-sm-offset-3.col-sm-6
          %button.btn.btn.btn-primary{ type: 'submit' }
            = fa 'user'
            = t('.buttons.update_profile')
          - if resource.errors.any?
            = link_to t('buttons.cancel'), edit_user_registration_path, class: 'btn btn-default'

- if display_password_change?
  %section
    %header.page-header
      %h3
        = resource.no_login_password? ? t('.headers.add_password') : t('.headers.change_password')

    = simple_form_for(resource,
                      as: resource_name,
                      url: registration_path(resource_name),
                      html: { method: :put, role: 'form', class: 'form-horizontal' },
                      wrapper: :horizontal_bootstrap,
                      defaults: horizontal_bootstrap_defaults) do |f|
      = f.error_notification
      = f.input :password, label: t('.labels.password')
      = f.input :password_confirmation
      = f.input :current_password unless resource.no_login_password?
      .form-group
        .col-sm-offset-3.col-sm-6
          %button.btn.btn-primary{ type: 'submit' }
            = fa 'key'
            = resource.no_login_password? ? t('.buttons.add_password') : t('.buttons.change_password')
          - if resource.errors.any?
            = link_to t('buttons.cancel'), edit_user_registration_path, class: 'btn btn-default'

- if display_accounts? && omniauth_providers.any?
  %section
    %header.page-header
      %h3
        = t('.headers.linked_accounts')

    - cache [cache_uid, resource, :profile_accounts], default_cache_params do
      .form-horizontal
        // Linked Accounts
        - decorate_account_collection resource.accounts do |accounts|
          = sortable_accounts_list resource do
            = render partial: 'account', collection: accounts

        // Link Account Items
        - omniauth_providers.each do |provider|
          - unless resource.provider_account? provider
            = render 'connect_account', provider: provider

- if display_accounts? && can?(:destroy, resource)
  %section
    %header.page-header
      %h3
        = t('.headers.delete_user')

    .col-sm-offset-3.col-sm-9.col-md-7.col-lg-9
      %p
        = t('.labels.delete_user')
      = button_to registration_path(resource_name), data: { confirm: t('prompts.confirm_delete') }, method: :delete, class: 'btn btn-danger' do
        = fa 'trash-o'
        = t('.buttons.delete_user')

- if resource.last_sign_in_at?
  %p.small
    = t('.labels.last_signed_in', date: local_time(resource.last_sign_in_at)).html_safe
