- content_for(:page_title) { t('.page_title') }
= simple_form_for(resource,
                  as: resource_name,
                  url: registration_path(resource_name),
                  html: { role: 'form', class: 'form-horizontal'},
                  wrapper: :horizontal_bootstrap,
                  defaults: horizontal_bootstrap_defaults) do |f|
  %legend
    Create Account
  = f.error_notification

  / Pending Linked Accounts
  - decorate_account_collection resource.new_session_accounts do |accounts|
    = render partial: 'account', collection: accounts

  / Registration Details
  = f.input :name, input_html: { autofocus: true }
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  - terms_and_conditions_label = content_tag :span do
    I accept the
    = external_link 'Terms of Service', page_path('terms')
    and
    = succeed "." do
      = external_link 'Privacy Policy', page_path('privacy')
  = f.input :terms_and_conditions, as: :boolean, inline_label: terms_and_conditions_label
  .form-group
    .col-sm-offset-3.col-sm-9.col-md-7
      %button.btn.btn-success(type='submit')
        = fa 'check'
        Sign up
