- content_for(:page_title) { t('.page_title') }

.versions-list
  - @versions.group_by { |item| item.created_at.to_date }.each do |created_on, grouped_versions|
    %h3
      - if date_is_today? created_on
        = t('papertrail/versions.created_on.today')
      - else
        = l created_on, format: :long

    .list-group
      - grouped_versions.each do |unstyled_version|
        = cache [:v1, unstyled_version, date_is_recent?(unstyled_version.created_at) ? :recent : :archive], { expires_in: 1.hour } do
          - decorate_version(unstyled_version) do |version|
            = link_to '#', class: 'list-group-item' do
              %h4.list-group-item-heading
                = version.title
              %p.list-group-item-text
                = version.whodunnit_ago
              .collapse
                %p.list-group-item-text
                  %small.user-location
                    = version.user_location
                %pre.list-group-item-text
                  = version.change_summary

