.btn-group-vertical
  = link_to edit_user_registration_path, class: 'btn btn-default' do
    = fa 'user'
    = t('layouts.navigation.my_profile')
  - if can? :read, PaperTrail::Version
    = link_to users_versions_path, class: 'btn btn-default' do
      = fa 'list-ul'
      History
