- content_for(:page_title) { 'Contact Form' }
.page-header
  %h3 Contact Form

= simple_form_for(@contact, :url => contact_path, :html => { :role => 'form', :class => 'form-horizontal' }, :wrapper => :horizontal_bootstrap_wide, :defaults => { :label_html => { class: 'col-sm-2' } }) do |f|
  = f.error_notification
  = f.input :name, :input_html => { autofocus: true }
  = f.input :email
  = f.input :body, :as => :text, :input_html => { rows: 7 }
  .form-group
    .col-sm-offset-2.col-sm-8
      %button.btn.btn-default(type='submit')
        %i.fa.fa-mail-forward
        Send
      = image_tag 'sendgrid.png', height: 34, class: 'pull-right'
