%section
  %header.page-header
    %h3
      - if resource.no_login_password?
        = t('devise.registrations.edit.headers.add_password')
      - else
        = t('devise.registrations.edit.headers.change_password')

  = simple_form_for(resource,
                    as: 'user',
                    url: registration_path('user'),
                    html: { method: :put, role: 'form', class: 'form-horizontal' },
                    wrapper: :horizontal_bootstrap,
                    defaults: horizontal_bootstrap_defaults) do |f|
    = f.error_notification
    - if resource.no_login_password?
      = f.input :email
    = f.input :password, label: t('devise.registrations.edit.labels.password')
    = f.input :password_confirmation
    = f.input :current_password unless resource.no_login_password?
    .form-group
      .col-sm-offset-3.col-sm-6
        %button.btn.btn-primary{ type: 'submit' }
          = fa 'key'
          - if resource.no_login_password?
            = t('devise.registrations.edit.buttons.add_password')
          - else
            = t('devise.registrations.edit.buttons.change_password')
        - if resource.errors.any?
          = link_to t('buttons.cancel'), users_password_index_path, class: 'btn btn-default'
