/ navigation styled for Bootstrap 3.0
%nav.navbar.navbar-fixed-top{ role: 'nav', class: navbar_style }
  .container-fluid
    .row
      .col-sm-12.col-lg-offset-1.col-lg-10.col-xl-offset-2.col-xl-8
        .navbar-header
          %button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to application_name, root_url, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.organisation-navbar
            - if user_signed_in? && current_user.organisations.any?
              %li.js-only.dropdown{class: @organisation ? ' active' : nil}
                = link_to dashboard_url, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do\
                  = @organisation.try(:name) || 'Home'
                  &nbsp;
                  %i.caret
                %ul.dropdown-menu
                  - current_user.organisations.order(:name).each do |organisation|
                    %li{class: @organisation == organisation ? 'active' : nil}
                      = link_to organisation.name, organisation_url(organisation)
                  %li.divider
                  %li
                    = link_to 'Home', dashboard_url
            - else
              %li{class: header_nav_class(dashboard_path)}<
                = link_to t('.home'), user_signed_in? ? dashboard_url : new_user_session_url
              %li{class: header_nav_class(page_path('styles'))}<
                = link_to 'Styles', page_url('styles')
              %li{class: header_nav_class(contact_path)}<
                = link_to 'Contact', contact_url
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li.no-js-only
                = link_to t('layouts.navigation.my_dashboard'), dashboard_url
              %li.js-only.dropdown{class: page_title = ~/Account Management/i ? 'active' : nil}
                %a.dropdown-toggle(href='#' data-toggle='dropdown')
                  - cache [cache_uid, current_user, :navbar_tag], default_cache_params do
                    - decorate current_user do |user|
                      = user.profile_image
                      = user.display_name
                  &nbsp;
                  %i.caret
                %ul.dropdown-menu
                  %li
                    = link_to t('.my_account'), edit_user_registration_url
                  %li.divider
                  %li
                    = link_to 'Logout', destroy_user_session_url, method: 'delete'
            - else
              %li{class: header_nav_class(new_user_registration_path, new_user_session_path)}<
                = link_to t('layouts.navigation.my_dashboard'), new_user_session_url
