!!! 5
%html
  %head
    = render 'layouts/head'
    = static_csrf_meta_tags
  %body{ class: body_class }
    #wrap
      = render 'layouts/navigation_static', { navbar_style: 'navbar-default' }
      .container-fluid
        .row
          %main.col-sm-12.col-lg-offset-1.col-lg-10.col-xl-offset-2.col-xl-8.main
            = yield
    = render 'layouts/footer'
