!!! 5
%html.no-js{ data: { google_analytics_id: ::Settings.google_analytics_id } }
  %head
    = render 'layouts/head'
    = csrf_meta_tags
  %body{ class: body_class }
    #wrap
      = render 'layouts/navigation', navbar_style: 'navbar-default'
      .container-fluid
        .row
          %main.col-sm-12.col-lg-offset-1.col-lg-10.col-xl-offset-2.col-xl-8.main
            = render 'layouts/messages'
            = yield
    = render 'layouts/footer'
= render_summary
