!!! 5
%html
  %head
    = render 'layouts/head'
    = csrf_meta_tags
  %body{ class: body_class }
    #wrap
      = render 'layouts/frontend_nav'
      %main.container(role='main')
        = render 'layouts/messages'
        = yield
    = render 'layouts/footer'
