!!! 5
%html
  %head
    = render 'layouts/head'
    = static_csrf_meta_tags
  %body{ class: body_class }
    #wrap
      = render 'layouts/navigation_static', { navbar_style: 'navbar-default' }
      %main.container(role='main')
        = yield
    = render 'layouts/footer'
